<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sam">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Camera optional -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAM"
        tools:targetApi="31">

        <!-- MAIN -->
        <activity
            android:name="com.example.sam.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AUTH -->
        <activity android:name="com.example.sam.auth.LoginActivity" />
        <activity android:name="com.example.sam.auth.StudentLoginActivity" />
        <activity android:name="com.example.sam.auth.RegisterActivity" />
        <activity android:name="com.example.sam.activities.LecturerLoginActivity" />

        <!-- DASHBOARDS -->
        <activity android:name="com.example.sam.student.StudentDashboardActivity" />
        <activity android:name="com.example.sam.dashboard.LecturerDashboardActivity" />
        <activity android:name="com.example.sam.student.AttendanceHistoryActivity" />

        <!-- QR -->
        <activity android:name="com.example.sam.qr.GenerateQRActivity" />
        <activity android:name="com.example.sam.qr.ScanQRActivity" />

    </application>

</manifest>
